{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-md-1">
        <a> </a>
    </div>
    <h1>Edytuj cel </h1>
    <a class="btn btn-primary" href="{{ path('task') }}" role="button">Twoje Cele</a>
    <a class="btn btn-primary" href="{{ path('task_new') }}" role="button">Dodaj Cel</a>
    <a class="btn btn-warning" href="{{ path('coderslab_task_indextodo') }}" role="button">W trakcie</a>
    <a class="btn btn-danger" href="{{ path('coderslab_task_indexpioritetyone') }}" role="button">Pilne</a>
    <a class="btn btn-danger" href="{{ path('coderslab_task_indexpioritetytwo') }}" role="button">Wazne</a>
    <a class="btn btn-danger" href="{{ path('coderslab_task_indexpioritetytree') }}" role="button">Normalny</a>
    <a class="btn btn-warning" href="{{ path('coderslab_task_indexdone') }}" role="button">Osiągnięte</a>
    <a class="btn btn-success" href="{{ path('fos_user_security_logout') }}" role="button">Wyloguj</a>
    <a class="btn btn-info" href="{{ path('fos_user_change_password') }}" role="button">Zmień hasło</a>
    <hr>
    <div class="row">
        <div class="col-md-1">
            <a> </a>
        </div>
        <div class="col-md-5">
            {{ form(edit_form) }}
            {{ form(delete_form) }}
        </div>
    </div>

{% endblock %}
