{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Task</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nazwa</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Piorytet</th>
                <td>{{ entity.priority }}</td>
            </tr>
        </tbody>
    </table>


    <p>****KOMENTARZE*****</p>






        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Wróć do listy
        </a>
    </li>
    <li>
        <a href="{{ path('task_edit', { 'id': entity.id }) }}">
           Edytuj
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    <a href="{{ path('coderslab_main_main') }}">Strona główna</a>
    <br>
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
{% endblock %}

