{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-md-1">
        <a> </a>
    </div>
    <h1>Osiągnięte cele</h1>
    <a class="btn btn-primary" href="{{ path('task') }}" role="button">Twoje Cele</a>
    <a class="btn btn-primary" href="{{ path('task_new') }}" role="button">Dodaj Cel</a>
    <a class="btn btn-warning" href="{{ path('coderslab_task_indextodo') }}" role="button">W trakcie</a>
    <a class="btn btn-danger" href="{{ path('coderslab_task_indexpioritetyone') }}" role="button">Pilne</a>
    <a class="btn btn-danger" href="{{ path('coderslab_task_indexpioritetytwo') }}" role="button">Wazne</a>
    <a class="btn btn-danger" href="{{ path('coderslab_task_indexpioritetytree') }}" role="button">Normalny</a>
    <a class="btn btn-warning" href="{{ path('coderslab_task_indexdone') }}" role="button">Osiągnięte</a>
    <a class="btn btn-success" href="{{ path('fos_user_security_logout') }}" role="button">Wyloguj</a>
    <a class="btn btn-info" href="{{ path('fos_user_change_password') }}" role="button">Zmień hasło</a>
    <hr>
    <div class="row">
        <div class="col-md-1">
            <a> </a>
        </div>
        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                <tr>

                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Piorytet</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="active">
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.description }}</td>
                        <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ entity.status }}</td>
                        <td>{{ entity.priority }}</td>
                        <td>
                            <li>
                                <a href="{{ path('task_show', { 'id': entity.id }) }}">Wiecej</a>
                            </li>
                            <li>
                                <a href="{{ path('task_edit', { 'id': entity.id }) }}">Edytuj</a>
                            </li>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>

{% endblock %}