{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Comment list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Opis</th>
                <th>Data</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('comment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>

                    <li>
                        <a href="{{ path('comment_show', { 'id': entity.id }) }}">Wiecej</a>
                    </li>
                    <li>
                        <a href="{{ path('comment_edit', { 'id': entity.id }) }}">Edytuj</a>
                    </li>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('comment_new') }}"><h5>Dodaj nowy komentarz</h5></a>
    <a href="{{ path('task') }}"><h5>Wróć do listy</h5></a>
    <a href="{{ path('coderslab_main_main') }}"><h5>Strona główna</h5></a>

    {% endblock %}
